In [ ]:
print ("Hello World")

Hello World

In [ ]:
print ("hello", "world")

hello world

In [ ]:
print ("hello"+ "world")

helloworld

In [ ]:
print ("hello"+ " world")

hello world

static data

variable

In [ ]:
x = 10
x = "curtin"
x = 4.3
x = True
print (x)

True

In [ ]:
y = ["abc","bcs","qwe"]
print (y)

['abc', 'bcs', 'qwe']

In [ ]:
print( type(x))

<class 'bool'>

In [ ]:
print( type(y))

<class 'list'>

CONCATINATION

In [ ]:
age = 45
print("This person is",(age),"years old")

This person is 45 years old

In [ ]:
print("This person is "+ str(age)+ " years old")

This person is 45 years old

In [ ]:
age = input("Enter your age: ")
print("This person is",(age),"years old")

Enter your age: 45
This person is 45 years old

In [ ]:
surname = input("Enter your Surname " )
name = input("Enter your Name ")
age = input("Enter your age ")
address = input("Enter your Address ")
print("This person is", surname, name, "you are", age, "years old, and you live at", address)

Enter your Surname ww
Enter your Name sw
Enter your age 33
Enter your Address ee
This person is ww sw you are 33 years old, and you live at ee

In [ ]:
info = ""
info = info + "your full name is " + surname + " " +  name
info = info + ". Your age is " + age + " and you live at " + address
print(info)

your full name is ww sw. Your age is 33 and you live at ee

In [ ]:
number1 = input("Enter number 1 = ")
number2 = input("Enter number 2 = ")
x = int(number1)
y = int(number2)
total = x + y
print(total)

Enter number 1 = 22
Enter number 2 = 12
34

In [ ]:
number1 = input("Enter number 1 = ")
number2 = input("Enter number 2 = ")
x = float(number1)
y = float(number2)
total = x + y
print(total)

Enter number 1 = 22
Enter number 2 = 12
34.0